{% extends 'base.html' %}

{% block content %}

<div class="container-fluid landing">
    <div class="row">
        <p>
        <h1>{{ article.title }}</h1>

        </p>
    <br>

    </div>

    <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card mb-3 bg-dark text-white">

        <img src="{{ url_for('static', filename= article.img ) }}" class="card-img image-fluid" alt="...">
    </div>


            </div>
    </div>


        <br>
            <p>{{ article.p_date }}</p>
            <p>{{ article.author }}</p>

                        <p class="card-text published"><path d="M11 9h2v5h-2zM9 2h6v2H9zm10.293 5.707-2-2 1.414-1.414 2 2z" ></path> Tag:

            {% for tgs in article.art_tags %}
                <a href="/tags/{{ tgs }}">{{ tgs }}</a>
            {% endfor %}

                        </p>

                        <p class="card-text published"> Publisher: <a href="/sources/{{ article.pub_id }}">{{ article.source }}</a> </p>

            <br>

        <div class="row">

            <h3>{{ article.desc }}</h3>

    </div>

    <br>

        <br>

    <div class="row">

        <p>{{ article.content }}</p>
    </div>




    </div>

{% endblock %}