{% extends 'base.html' %}

{% block content %}

<div class="container-fluid landing">
<h1>{{ title }}</h1>
    <div class="row">

<form action="/new_story/" method="post" enctype="multipart/form-data">

  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title" size="50"><br><br>


  <label for="desc">Article Description:</label><br>
  <input type="text" id="desc" name="desc" size="50"><br><br>

    <label for="author">Author:</label><br>
  <input type="text" id="author" name="author" size="50"><br><br>

  <label for="desc">Article Description:</label><br>
    <textarea name="desc" rows="2" cols="120">
    Description one liner here.
    </textarea>
<br>
<br>

  <label for="content">content:</label><br>
    <textarea name="content" rows="10" cols="120">
    Article content here.
    </textarea>
<br>
<br>


  <label for="file">Select Image:</label>
  <input type="file" id="file" name="file">
    <br><br>

    <label for="publisher">Which Publication?:</label>
    <select id="publisher" name="publisher">
            {% for pub in allowed_pubs %}
              <option value="{{ pub.id }}">{{ pub.name }}</option>
            {% endfor %}
    </select>

    <br><br>


    <label for="tags">Choose Tags (you can select multiple):</label>
   <select name="tags" id="tags" multiple size="9">
             {% for tg in tags %}
              <option value="{{ tg.tag }}">{{ tg.tag }}</option>
            {% endfor %}
  </select>
  <br><br>



  <input type="submit" value="Submit">
</form>




<!--
                title="Who Let The Dogs Out?",
        desc="have we yet discovered who let the dogs out?",
        author="Lance Armstrong",
        img="/assets/img/1.jpg",
        p_date="2022-11-11 11:11:11",
        content="It was I",
        pub_id=1,

-->
    </div>
</div>

{% endblock %}
